.welcome {
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.btn1 {
    background: url(./images/ddvendors.jpg) no-repeat;
}

.btn2 {
    background: url(./images/ddbeer.jpg) no-repeat;
}

.btn3 {
    background: url(./images/ddkegs.jpg) no-repeat;
}

.btn4 {
    background: url(./images/ddempty.jpg) no-repeat;
}

.btn1, .btn2, .btn3, .btn4 {
    background-size: cover;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 10px black;
    transform: translateX(0px);
    transition: 1.1s all;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    box-shadow: 7px 7px 40px 10px gold;
}

span {
    color: white;
    font-family: HeadLineA;
    font-size: 60px;
}

.directory {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 200px;
    margin-left: 300px;
    margin-top: 2rem;
}