* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("C:\Users\lorans\Desktop\Andre\SDSU\MS3\drinkdrivers\src\images\DALLE_2023-10-18_21.12.38_-_Vector_composition_on_a_muted_green_background_showcasing_200_beer_cans_with_fine_geometric_patterns._The_cans_are_densely_positioned_in_a_random_layo.png");
    background-size: cover;
    opacity: 0.5;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    display: flex;
    background-color: #adcfb1;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.drink-drivers {
    font-size: 2rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

 .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
 }

 .nav a:hover {
    background-color: #a3c2a7;
 }

