* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;
  background-image: url("./components/images/Background.png"); /*background image*/
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

h1 {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: black 4px solid;
  display: inline-block;
  width: 700px;
  transition: all 1.1s;
}

/* age and underage style */

.ageV {
  display: flex;
  height: 100vh;
}
.age {
  font-size: 100px;
  font-family: serif;
  transition: all 1.1s;
}
.yesbtn {
  font-size: 50px;
  font-family: serif;
  width: 200px;
  background-color: #b7f5bd;
  border: black 5px solid;
  border-radius: 20px;
  transition: all .5s;
}
.yesbtn:hover {
  box-shadow: 7px 7px 40px 10px rgb(57, 228, 99);
}
.nobtn {
  font-size: 50px;
  font-family: serif;
  width: 200px;
  background-color: #fda8a8;
  border: black 5px solid;
  border-radius: 20px;
  transition: all .5s;
}
.nobtn:hover {
  box-shadow: 7px 7px 40px 10px #db7878;
}
h3 {
  font-size: 30px;
}

/* navbar style */

.nav {
  background-color: #adcfb1;
  border: black 5px solid;
  padding: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  transition: all 0.3s;
}
.nav a:hover {
  background-color: #a3c2a7;
}

/* home style */

.welcome {
  border: black 4px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}
.directory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
.btn1 {
  background: url(../src/components/images/ddvendors.jpg) no-repeat;
}
.btn2 {
  background: url(../src/components/images/ddbeer.jpg) no-repeat;
}
.btn3 {
  background: url(../src/components/images/ddkegs.jpg) no-repeat;
}
.btn4 {
  background: url(../src/components/images/ddempty.jpg) no-repeat;
}
.btn1, .btn2, .btn3, .btn4 {
  background-size: cover;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 10px black;
  transform: translateX(0px);
  transition: all 0.8s;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
  box-shadow: 7px 7px 40px 10px gold;
}
span {
  color: white;
  font-family: HeadLineA;
  font-size: 40px;
}

/*app style*/

.container {
  margin: 1rem;
  text-align: center;
}

/* signup style and login style */

.email, .password, .submit, .name, .link, p {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: black 4px solid;
  display: block;
  margin: auto;
  width: 700px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all .7s;
}

/*vendor style*/

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.beer {
  border: black 4px solid;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px 100px 20px 20px;
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  /* navbar style */
  .nav {
    padding: 5px;
  }
  .nav-links {
    justify-content: space-between;
  }
  .nav-links a {
    font-size: 16px;
  }
  .nav-links img {
    height: 100px;
    width: 100px;
  }

  /* home style */
  .container {
    max-width: 100%;
  }
  .welcome {
    height: 250px;
    width: 300px;
  }
  .btn1, .btn2, .btn3, .btn4 {
    margin-bottom: 1rem;
    height: 200px;
    width: 200px;
  }
  span {
    font-size: 30px;
  }

  /* signup style and login style */
  .email, .password, .submit, .name, .link, p {
    width: 300px;
  }
  h1 {
    width: 300px;
  }
 
  /*vendor style*/
  .beer {
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
  }
}
